*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* Selector */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper {
  box-shadow: #63636333 0px 2px 8px 0px;
}

.MuiMenuItem-root:hover {
  background-color: #2196f3 !important;
  color: white;
}

.MuiMenuItem-root.Mui-focusVisible {
  background-color: #2196f3 !important;
  color: white;
}

.MuiSelect-select.MuiSelect-filled.MuiInputBase-input.MuiFilledInput-input:focus {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-filled.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-filled.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
  margin-top: -8px;
}
.MuiInputLabel-root:focus {
  margin-top: 50px;
}

/* Date picker */
.MuiPickersYear-yearButton.Mui-selected,
.MuiPickersYear-yearButton:hover,
.MuiPickersMonth-monthButton.Mui-selected,
.MuiPickersMonth-monthButton:hover {
  background-color: #2196f3 !important;
  color: white;
}

/* link */
a:link {
  text-decoration: none;
  color: #131313;
}
a:visited {
  text-decoration: none;
  color: #131313;
}
.whatsapp:hover {
  text-decoration: none;
  color: #22bb33;
}
.mail:hover {
  text-decoration: none;
  color: #db4437;
}
a:active {
  text-decoration: none;
  color: #131313;
}
